* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color: #fff;
    --background: #101016;
    --background-secondary: #181820;
    --border-quiz: #30303d;
    --quiz-p: #bcbcc8;
    --resposta: #22222d;
    --border-resposta: #353542;
    --background-hover: #2b2b38;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.quiz {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    background: #181820;
    border: 1px solid #30303d;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}

.quiz-jogo,
.quiz-resultado,
.escolha-quantidade {
    display: none;
}
.escolha-quantidade{
    justify-content: space-between;
}
.quiz-inicio {
    text-align: center;
}

.quiz-inicio h1 {
    margin-bottom: 15px;
    font-size: 3rem;
    color: var(--color);
}

.quiz-inicio p {
    margin-bottom: 30px;
    color: #bcbcc8;
    font-size: 1.1rem;
    line-height: 1.6;
}

#btnIniciar,
#btnProxima,
#btnReiniciar {
    background: #fff;
    color: #101016;
     border: none;
    border-radius: 10px;
    padding: 14px 22px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
#btnIniciar, #btnProximo, #btnReiniciar :hover {
    transform: translateY(-2px);
}
#escolhaQuantidade button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.quiz-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #bcbcc8;
    font-size: 0.95rem;
}

.quiz-pergunta {
    margin-bottom: 30px;
}

.quiz-pergunta h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    color: var(--color);
}

.quiz-respostas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
    
}

.resposta {
    width: 100%;
    text-align: left;
    background: #22222d;
    color: #fff;
    padding: 10px;
    border: 1px solid #353542;
    transition: transform 0.3s ease;
}


.resposta:hover {
    background: #2b2b38;
    transform: translateY(-2px);
}

.quiz-resultado {
    text-align: center;
}

.quiz-resultado h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: var(--primary);
}

.quiz-resultado p {
    margin-bottom: 10px;
    color: var(--quiz-p);
}


#resultadoPontuacao {
    display: block;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: var(--color);
}
@media (max-width: 600px) {
    .quiz {
        padding: 25px 20px;
        border-radius: 15px;
    }

    .quiz-inicio h1 {
        font-size: 2.2rem;
    }

    .quiz-pergunta h2 {
        font-size: 1.4rem;
    }

    .quiz-topo {
        font-size: 0.85rem;
    }
    #escolhaQuantidade button{
    font-size: 0.85rem;
}
}