/* RESPONSIVIDADE  */

@media (max-width: 1000px) {
    /* Menu Mobile */
    .menu{
        display: none;
    }
    #btnMenu{
        display: block;
    }
    .menu.ativo{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--card);
        padding: 20px;
        gap: 15px;
        z-index: 10;
    }
   .personagens-grid {
        grid-template-columns: repeat(2, 1fr);
   }
   .personagem-card{
    flex-direction: column;
   }
   .personagem-card p{
    line-height: 1.6;
   }
   .personagem-card video{
    width: 100%;
   }
}

@media (max-width: 950px){
    /* Cards passam para 2 colunas */
    .explorar-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .destaques-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media (max-width: 676px){
    /* Cards passam para 1 coluna  */
    .explorar-grid{
        grid-template-columns: 1fr;
    }
    .explorar{
        padding: 70px 5%;
    }
    .titulo-secao{
        margin-bottom: 40px;
    }
    .sobre{
        flex-direction: column;
        gap: 40px;
        padding: 70px 5%;
    }
    .destaques-grid{
        grid-template-columns: 1fr;
    }
    .hero{
        background-image:
    linear-gradient(
        to top,
        var(--hero-overlay),
        rgba(0, 0, 0, 0.021) 200%
    ),
    url(../imgs/banners/banner-principal.png);
    background-size: cover;
    background-position: 10% 100%;
    background-repeat: no-repeat;
    }
    .hero-subtitulo{
        font-size: 1.2rem;
        
    }
    .hero-texto{
        color: var(--text);
    }
    .historia-banner{
        padding: 80px 5%;
    }
    .historia-banner-conteudo{
        margin-bottom: -300px;
    }
    .capituloNarrativa{
        grid-template-columns: 1fr;
    }
    .personagens-grid{
        grid-template-columns: 1fr;
    }
    .personagem-card video{
        height: 40%;
    }
    .personagem-card{
        height: calc(100% - 120px);
    }
    .reinos-grid{
    grid-template-columns: 1fr;
    }
}