.container1 {
    background-image: url(../../imgs/criaturas/criaturas.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 290%;
}

.img {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.img-criatura {
    width: 50%;
    height: 40%;

}

.img-criatura img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-criaturas {
    display: flex;
   padding: 40px;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background: url(../../imgs/reinos/elyndra-mapa.jpg);
}
.criatura{
    height: 280px;
    width: 210px;
    background-color: rgb(19, 17, 17);
    color: rgb(207, 205, 205);
    transition: 0.4s all ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.criatura img{
    width: 90%;
    margin-top: 10px;
}
.name-card{
    font-size: 20px;
    padding: 5px;
}
.info-criatura-card {
    font-size: 12px;
    margin-top: -25px;
}
.criatura:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 500px) {

}